<section class="main-header">
  <%= image_tag 'title.jpg' %>
</section>
<div class="container">
  <section class="TOP">
    <h1>トップ画面</h1>
    <P>このアプリはブログアプリです。</P>
    <p>ブログの新規作成とブログの一覧画面から編集削除などができます</p>
  </section>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= link_to image_tag('HOME_GREY.png', {:class => "img-responsive",:mouseover => "HOME_BLUE.png"}), root_path %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag('message_gray.png', {:class => "img-responsive",:mouseover => "message_blue.png"}), new_tw_clone_path %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag('moment_glay.png', {:class => "img-responsive",:mouseover => "moment_blue.png"}), tw_clones_path %>
    </div>
  </div>
</div>
