<section class="main-header">
  <%= image_tag 'title.jpg' %>
</section>
<div class="container">
  <section class="TOP">
    <h1>トップ画面</h1>
    <P>このアプリはブログアプリです。</P>
    <p>ブログの新規作成とブログの一覧画面から編集削除などができます</p>
  </section>
</div>
