// Place all the styles related to the twClones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #1DA1F2;
}

.container {
  width: auto;
  max-width: auto;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.main-header{
  width: 100%;
}
.main-header img{
  height: 280px;
}
.img-home{
  background-image: url("HOME_BLUE.png");
}
.img-home a{
  display: inline-block;
}
.img-home a:hover{
  visibility: hidden;
}
.img-home img{
  width: 50%;
  height: auto;
}
.img-new{
  background-image: url("message_blue.png")
}
.img-new a{
  display: inline-block;

}
.img-new a:hover img{
  visibility: hidden;
}
img-new img{
  width: 50%;
  height: auto;
}
.img-moment{
  background-image: url("moment_blue.png");
}
.img-moment a{
  display: inline-block;
}
.img-moment a:hover{
  visibility: hidden;
}
.img-moment img{
  width: 50%;
  height: auto;
}
